[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=lxdream
GenericName=Dreamcast Emulator
Type=Application
Categories=Game;Emulator
MimeType=application/x-lxdream-save-state;
FilePattern=gdi;GDI;dst;DST;
Exec=lxdream %f
TryExec=lxdream
Icon=lxdream
